<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="description" content="This is a developing blog site." />
    <meta name="author" content="Jerry Chaos" />
    <meta name="applicable-device" content="pc,pad,mobile" />
    <meta name="keywords" content="slog,blog,computer,program" />
    <meta name="referrer" content="always" />
    <link href="../style.css" rel="stylesheet" type="text/css" />


    <style>
        body {
            background: linear-gradient(90deg, rgba(200, 200, 200, 0.1) 3%, transparent 0),
                linear-gradient(rgba(200, 200, 200, 0.1) 3%, transparent 0);
            background-size: 20px 20px;
        }
    </style>


</head>

<body>

    <!-- assets panel -->
    <template id="ID-tpl-assets">
        <div class="panel-assets">
            <div class="w-full" id="ID-assets-head">
                <nav class="breadcrumb" aria-label="Breadcrumb">
                    <ol nav>
                        <li nav-item>
                            <div class="flex-r-ic" home><a nav-link href="#">Home</a></div>
                        </li>
                        <li nav-item>
                            <div class="flex-r-ic"><a nav-link href="#">Projects</a></div>
                        </li>
                    </ol>
                </nav>

                <div>
                    <button dialog-close type="button">
                        <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>

                </div>
            </div>

            <div tab-content id="ID-assets-body">
                <div id="ID-drop-zone" class="scroll-y-only SBStyle SBStyle-br"></div>
                <div id="ID-status">
                    <div class="flex-grow">
                        <label slog-mark-1>selected/total</label>
                        <label slog-mark-2>uploaded/total</label>
                    </div>
                    <div class="flex-grow-0 w-[200px] flex justify-end">
                        <button dialog-close type="button">
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button dialog-close type="button">
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <button dialog-close type="button">
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <template id="ID-tpl-assets-items">
        <!-- folder -->
        <div class="panel-assets-item big" draggable="true" dropzone="move">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2 V6z" />
            </svg>
            <span>folder</span>
        </div>

        <!-- image -->
        <div class="panel-assets-item big" draggable="true">
            <img src="./img/banner.jpg" class="img-decorate" />
        </div>

        <!-- archive -->
        <div class="panel-assets-item big" draggable="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
                <path fill-rule="evenodd"
                    d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"
                    clip-rule="evenodd" />
            </svg>
            <span>archive</span>
        </div>

        <!-- other -->
        <div class="panel-assets-item big" draggable="true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4z"
                    clip-rule="evenodd" />
            </svg>
            <span>other file</span>
        </div>
    </template>
</body>

<script type="module">
    import UILIB from "../../src/UIlib.js";
    const _UIAPI = UILIB(document.body);

    const b = _UIAPI.CreateAssetsDialog()
        .Render({
            assets: [
                { id: 'a', type: _UIAPI.AssetsItemType.FOLDER, caption: 'src' },
                { id: 'b', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/c.jpg", caption: "code" },
                { id: 'c', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/r.jpg", caption: "github" },
                { id: 'd', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/h.jpg", caption: "todo" },
                { id: 'e', type: _UIAPI.AssetsItemType.ARCHIVE, caption: "slog source" },
                { id: 'f', type: _UIAPI.AssetsItemType.OTHER, caption: "TED" }
            ],
            nav: {},
        })
        .Add({ id: 'g', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/f.jpg", caption: "github" })
        .Add({ id: 'h', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/a.jpg", caption: "github" })
        .Add({ id: 'i', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/b.jpg", caption: "github" })
        .Add({ id: 'j', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/c.jpg", caption: "github" })
        .Add({ id: 'k', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/d.jpg", caption: "github" })
        .Add({ id: 'l', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/e.jpg", caption: "github" })
        .Add({ id: 'm', type: _UIAPI.AssetsItemType.IMG, src: "./img/test/f.jpg", caption: "github" })
        .Remove('c')
        .SetAction()
        // .ChangeToSmallItem()
        .Show()
        .UpdateUploadInfo(845, 1002355)
    // .DropZoneVisual(1)
    // .Hide();

    {
        let ii = 110;
        while (--ii >= 0) {
            b.Add({ id: `g-${Math.random()}`, type: _UIAPI.AssetsItemType.IMG, src: "./img/test/f.jpg", caption: "github" });
        }
    }


</script>

</html>